<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_75b2faf2663a4b50a83c977b09af6329 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_75b2faf2663a4b50a83c977b09af6329" ></div>
        
</body>
<script>    
    
            var map_75b2faf2663a4b50a83c977b09af6329 = L.map(
                "map_75b2faf2663a4b50a83c977b09af6329",
                {
                    center: [36.629049, 127.456318],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e5f5916f819640ef82705f733ef30858 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            var marker_0168e7bad9324bca886104cf8baef55e = L.marker(
                [36.640393, 127.468736],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_0168e7bad9324bca886104cf8baef55e.bindTooltip(
                `<div>
                     삼미투가리백숙
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bc7290fa348d4d74ad4e4938d9515b37 = L.marker(
                [36.631081, 127.450952],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_bc7290fa348d4d74ad4e4938d9515b37.bindTooltip(
                `<div>
                     흥부찜닭
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_484138b53d9f4c6b9810fc052d98b44f = L.marker(
                [36.6327331, 127.4475431],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_484138b53d9f4c6b9810fc052d98b44f.bindTooltip(
                `<div>
                     일미닭갈비파전
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dad792aa8d88409ca7a4d5fc4e1deeca = L.marker(
                [36.6083208, 127.3005499],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_dad792aa8d88409ca7a4d5fc4e1deeca.bindTooltip(
                `<div>
                     달콤한 닭강정
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aca5b6606a50409dbfd8aaba9947e19d = L.marker(
                [36.626379, 127.4369965],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_aca5b6606a50409dbfd8aaba9947e19d.bindTooltip(
                `<div>
                     오점오닭갈비전문점
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6894462ee4434faca8963eec1369c1d0 = L.marker(
                [36.6280706, 127.4470842],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_6894462ee4434faca8963eec1369c1d0.bindTooltip(
                `<div>
                     오빠가찜한닭
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1d7b84db6807466aae130cc81f364f1d = L.marker(
                [36.6313602, 127.4519744],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_1d7b84db6807466aae130cc81f364f1d.bindTooltip(
                `<div>
                     장터열통닭
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_49d68242c26a46f6b38550c365d6b139 = L.marker(
                [36.6304142, 127.4337803],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_49d68242c26a46f6b38550c365d6b139.bindTooltip(
                `<div>
                     인호네신닭발&통닭
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_902b2c55e91749f9a4f334f741408b0b = L.marker(
                [36.6349496, 127.4383304],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_902b2c55e91749f9a4f334f741408b0b.bindTooltip(
                `<div>
                     뺑이콩나물
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ca3f332602d4c48a80762fca8f44977 = L.marker(
                [36.6162877, 127.4410902],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_7ca3f332602d4c48a80762fca8f44977.bindTooltip(
                `<div>
                     광해  Pub
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c944fb6564434e48bc651f0c9e5488d0 = L.marker(
                [36.633522, 127.448552],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_c944fb6564434e48bc651f0c9e5488d0.bindTooltip(
                `<div>
                     엄마닭발
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dc7bd7ef55a348d3a075b9d13f281f7c = L.marker(
                [36.632807, 127.451465],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_dc7bd7ef55a348d3a075b9d13f281f7c.bindTooltip(
                `<div>
                     장안닭발통닭
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed5576df923c4d38b7e38a10ab9b82f1 = L.marker(
                [36.631151, 127.451071],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_ed5576df923c4d38b7e38a10ab9b82f1.bindTooltip(
                `<div>
                     행복한밥상
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c39eca3a78648f4afc1211bfac032d4 = L.marker(
                [36.633177, 127.450352],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_7c39eca3a78648f4afc1211bfac032d4.bindTooltip(
                `<div>
                     쩡이네해장국
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51d115311d42480882f2ad8981ba3db2 = L.marker(
                [36.633596, 127.449087],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_51d115311d42480882f2ad8981ba3db2.bindTooltip(
                `<div>
                     함가네해장국
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_20bc24b5b36a4a01974db9d8fbbaf91d = L.marker(
                [36.6326167, 127.4486233],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_20bc24b5b36a4a01974db9d8fbbaf91d.bindTooltip(
                `<div>
                     촌골닭갈비THE치킨
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_368fc1374d95446d86060e264a1fa90a = L.marker(
                [36.630551, 127.46828],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_368fc1374d95446d86060e264a1fa90a.bindTooltip(
                `<div>
                     오뚜기
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1e4003537bb34afcbb6446695defd288 = L.marker(
                [36.632693, 127.457784],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_1e4003537bb34afcbb6446695defd288.bindTooltip(
                `<div>
                     불난주막
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b31e717847a4219b5d1fa6748e66e64 = L.marker(
                [36.633462, 127.458681],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_9b31e717847a4219b5d1fa6748e66e64.bindTooltip(
                `<div>
                     동래호프
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fb7b6ef0c62e42cbb9e157896e894e24 = L.marker(
                [36.632886, 127.457619],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_fb7b6ef0c62e42cbb9e157896e894e24.bindTooltip(
                `<div>
                     패치워크
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6ae45fedfc2a49fb9b28bbbe425569e0 = L.marker(
                [36.6233091, 127.4447773],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_6ae45fedfc2a49fb9b28bbbe425569e0.bindTooltip(
                `<div>
                     강유진 화닭 개신점
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6997608241e74ae3b265e054c2f7f58a = L.marker(
                [36.6203, 127.4438217],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_6997608241e74ae3b265e054c2f7f58a.bindTooltip(
                `<div>
                     소문난춘천닭갈비
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec3d142a64de4746bc3b69bc01150a52 = L.marker(
                [36.6244634, 127.4461219],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_ec3d142a64de4746bc3b69bc01150a52.bindTooltip(
                `<div>
                     효경식당
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4aa97a4c1f9b40f8a64c33b43d6a4672 = L.marker(
                [36.6259039, 127.4644034],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_4aa97a4c1f9b40f8a64c33b43d6a4672.bindTooltip(
                `<div>
                     서울닭발
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8780aca1aed34330b529715f46239afa = L.marker(
                [36.629049, 127.456318],
                {}
            ).addTo(map_75b2faf2663a4b50a83c977b09af6329);
        
    
            marker_8780aca1aed34330b529715f46239afa.bindTooltip(
                `<div>
                     충북대학교
                 </div>`,
                {"sticky": true}
            );
        
</script>